.footerMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #fff;
  align-items: center;
  padding: 1rem;
}

.manu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.manu li {
  margin-top: 1rem;
  font-size: 1rem;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  color: #000;
  text-align: center;
}

.manu a {
  text-decoration: none;
  color: inherit;
}

.mailCol {
  margin-top: 3rem;
  color: #000;
  font-size: 1.3rem;
  text-align: center;
}

.mailCol:hover {
  color: blueviolet;
}

.mailCol a {
  text-decoration: none;
  color: inherit;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footerMain {
    justify-content: space-around;
    align-items: center;
  }

  .manu {
    align-items: center;
    margin-top: 2rem;
  }

  .manu li {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  .mailCol {
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .logo {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .logo img {
    width: 7rem;
  }
  .footerMain {
    padding: 1rem 0;
  }

  .manu li {
    font-size: 1rem;
  }

  .mailCol {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .logo {
    width: 80px;
    height: auto;
  }
}
@media (max-width: 768px) {
  .logo img {
    width: 7rem;
  }
  .footerMain {
    width: 100%;
    padding: 1rem 0;
  }

  .manu li {
    font-size: 1rem;
  }

  .mailCol {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .logo {
    width: 80px;
    height: auto;
  }
}
